{:deps     {:aliases [:cljs]}
 :dev-http {8000 {:root "public"}}
 :builds
 {:app {:target           :browser
        :output-dir       "public/js"
        :asset-path       "/js"
        :js-options       {:js-provider :shadow}
        :compiler-options {:optimizations      :advanced
                           :output-feature-set :es2020}
        :modules          {:shared
                           {:entries []}
                           :main   {:init-fn    apple-health-analyzer.main/init
                                    :depends-on #{:shared}}
                           :loader {:init-fn    apple-health-analyzer.parse-worker/init
                                    :depends-on #{:shared}
                                    :web-worker true}}
        :devtools         {:watch-dir       "public"
                           :reload-strategy "full"}
        :release          {:output-dir "docs/js"
                           :asset-path "/js"}}}}
